
body {
  background: #edf7fa; 
}

a {
  color: #ff8364;
  text-decoration: none;
  font-weight: bold;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin-top: 30px;
}

.App-logo {
  max-width: 150px;
  border-radius: 80%;
  display: block;
  margin: 0 auto;
}
.App-footer {
  margin: 30px 0;
  text-align: center;
}
